@font-face {
    font-family: A-regular;
    src: url(../font/AdobeArabicRegular.otf) format("opentype");
}

@font-face {
    font-family: A-light;
    src: url(../font/AirbnbCerealLight.ttf) format("truetype");
}


@font-face {
    font-family: A-medium;
    src: url(../font/AirbnbCerealMedium.ttf) format("truetype");
}


@font-face {
    font-family: A-bold;
    src: url(../font/AirbnbCerealBold.ttf) format("truetype");
}


@font-face {
    font-family: A-black;
    src: url(../font/AirbnbCerealBlack.ttf) format("truetype");
}


@font-face {
    font-family: A-book;
    src: url(../font/AirbnbCerealBook.ttf) format("truetype");
}


@font-face {
    font-family: A-ex-bold;
    src: url(../font/AirbnbCerealExtraBold.ttf) format("truetype");
}